@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
    font-family:Manrope,sans-serif;
    background-image: url(./Imagens_provasdocrime/fire-skull-afp2pbw4ow8234mm.jpg);
    background-size: contain; /*Geralmente, se usa "cover" para preencher a tela.*/
    color: #83d883;
    background-attachment:fixed;
}
html{
    scroll-behavior:smooth;
}
section {
    text-align: center;
    /*animation: O 10s ease-in-out;*/
    background-image: linear-gradient(to left, #006dec, #34448f, #8f4434, #ec6d00);
    width:750px;
    margin:auto;
    border:3px solid #503500;
    border-radius:64px;
    margin-bottom:64px;
    box-shadow: 0px 0px 28px #d8d800;
}