
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family:Manrope,sans-serif;
    background-image: url(./Imagens_provasdocrime/fire-skull-afp2pbw4ow8234mm.jpg);
    background-size: contain; /*Geralmente, se usa "cover" para preencher a tela.*/
    color: #83d883;
    background-attachment:fixed;
}

html{
    scroll-behavior:smooth;
}

section {
    text-align: center;
    /*animation: O 10s ease-in-out;*/
    background-image: linear-gradient(to left, #006dec, #34448f, #8f4434, #ec6d00);
    width: 750px;
    margin: auto;
    border:3px solid #503500;
    border-radius: 64px;
    margin-bottom: 64px;
    box-shadow: 0px 0px 28px #d8d800;
}
ul{
    text-align:left;
}
section:hover{
    background-image: linear-gradient(#6dec6d, #448f44, #8f8f34, #ecec00);
    border:3px solid #000094;
    box-shadow: 0px 0px 56px #8f6dec;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#8f32ec;
}
@keyframes O {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.Sonic:hover{
    background-image: linear-gradient(#5350f7, #8fa9ff, #fff6dd, #650510, #be5300, #e79203);
    border:3px solid #000094;
    box-shadow: 0px 0px 56px #8f6dec;
    font-family:'Courier New', Courier, monospace;
    color:#fbff1f;
}
.tinfole{
    a{
    color: #8000ff;
    text-decoration:none;
    }
    ul li{
        list-style: none;
    }
}
header {
    position:sticky;
    top:0;
    z-index:5;
}
#armando{
    display:none;
}
@media (max-width:830px){
    #armando{
        display:block;
    }
    .tinfole ul{
        display:none;
    }
    section{
        font-size:12px;
        max-width:400px;
    }
    iframe{
        width:250px;
    }
    img{
        width:250px;
    }
}

/* Comentar linha: Ctrl+; */
/* Organizar código: Alt+Shift+F */
/* Mudar tela: Alt+Tab */